<%- include('./partials/header') %>

<div class="w-full min-h-screen bg-zinc-900 text-white p-10">
<h1 class="text-3xl tracking-tighter mb-5" >Welcome to our portal</h1>

 <div class="nav mb-10">
 <a class="text-blue-500 mr-5" href="/users/create">Create New Account</a>
 <a class="text-blue-500" href="/users/login">login</a>
 </div>

 


</div>
   
<%- include('./partials/footer') %>