<%- include('./partials/header')%>

    
<div class="w-full min-h-screen bg-zinc-900 text-white p-10">

        
    <div class="nav mb-2 flex justify-between" >
        <a class="text-blue-500 " href="/">Go To Home</a>
        <div>
            <a class="text-green-500 mr-6" href="/users/profile">Back to Profile</a>
            
            <a class="text-red-500 " href="/users/logout">Logout</a>
        </div>

    </div>

    <span class="w-full p-2 ">
        <h2 class="text-3xl font-light">Change Password</h2>
       
    </span>

    <form autocomplete="off" action="/users/password/change" method="post">
        <input class="px-3 py-2 m-2 bg-transparent rounded-md outline-none border-2 border-zinc-800" type="text" placeholder="current password" name="currentpassword">
        <input class="px-3 py-2 m-2 bg-transparent rounded-md outline-none border-2 border-zinc-800" type="text" placeholder="new password" name="newpassword">
        <input class="w-40 px-3 py-2 bg-yellow-500 text-sm rounded-md m-2 block" type="submit" value="Update your password">
    </form>

   
  

</div>



<%- include('./partials/footer') %>